.time {
  border: 0px;
  vertical-align: top;
  position: relative;
  top: -13px;
  font-weight: bold ;
  text-align: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.style {
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

td {
  text-align: center;
  width: 1px;
  
}

.border{
  border: 0px;
}

.grey{
  background-color: grey;
}

.yellow{
  background-color:yellow
}

.blue{
  background-color:#4CD0F3
}

.pink{
  background-color: pink;
}

.min5 {
  height: 5px;
}

.min10 {
  height: 10px;
}

.min15{
  height: 15px;
}

.min20{
  height: 20px;
}

.min25{
  height: 25px;
}

.min30{
  height: 30px;
}

.min35{
  height: 35px;
}

.min40{
  height: 40px;
}

.min45{
  height: 45px;
}

.min50{
  height: 50px;
}

.min55{
  height: 55px;
}